<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{{ path('app_home') }}">E-Camer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('app_product') }}">Nos Produits</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Qui sommes nous?</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Contact</a>
            </li>

        </ul>
        <div class="navbar-item-custom">
            {% if app.user %}
                <a href="{{ path('app_account') }}" class="text-decoration-none">Mon compte <small>({{ app.user.firstname }}</small>)</a> | <a href="{{ path('app_logout') }}" class="text-decoration-none">Deconnexion</a>
            {% else %}
                <a href="{{ path('app_login') }}">Connexion</a> |<a href="{{ path('app_register') }}">Inscription</a>
            {% endif %}
        </div>
        <a href="{{ path('app_cart') }}">
            <img src="{{ asset('IMAGES/shop-cart.png') }}" alt="Mon panier" class="cart-icon">
        </a>


        {# <form class="form-inline mt-2 mt-md-0"> #}
        {# <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> #}
        {# <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> #}
        {# </form> #}
    </div>
</nav>²